*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}
.card-wrapper{
  margin-top:140px;
}
body{
  min-height:100vh;
  background:linear-gradient(135deg,#000,#0b1d33);
  display:flex;
  justify-content:center;
  align-items:center;
}
.main-content{
  padding-top:140px;
}

/* WRAPPER */
.card-wrapper{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
  gap:30px;
  width:90%;
  perspective:1200px;
}

/* CARD */
.card{
  background:rgba(255,255,255,0.12);
  backdrop-filter:blur(12px);
  border-radius:20px;
  padding:15px;
  text-align:center;
  color:white;
  transform-style:preserve-3d;
  transition:0.6s;
  box-shadow:0 20px 40px rgba(0,0,0,0.5);
}

.card:hover{
  transform:rotateY(15deg) rotateX(10deg) scale(1.05);
}

/* IMAGE */
.card-img{
  width:100%;
  height:180px;
  border-radius:15px;
  background-size:cover;
  background-position:center;
  margin-bottom:15px;
  box-shadow:inset 0 0 30px rgba(0,0,0,0.6);
  animation:fade 1s ease;
}

/* TEXT */
.card h3{
  letter-spacing:1px;
}

/* IMAGE FADE */
@keyframes fade{
  from{opacity:0.4;}
  to{opacity:1;}
}
