/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

/* BODY */
body{
  min-height:100vh;
  background:linear-gradient(135deg,#020024,#090979,#00d4ff);
}


/* ================= NAVBAR ================= */

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:80px;

  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 8%;

  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.05);

  border-bottom:1px solid rgba(255,255,255,0.1);

  z-index:999;
}

/* LOGO */
.logo{
  display:flex;
  align-items:center;
  gap:10px;
  color:rgb(250, 215, 18);
}

.logo-img{
  width:50px;
  height:50px;
  border-radius:50%;
  background:url("../images/logo.png") center/cover no-repeat;
}

/* LINKS */
.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  color:rgb(250, 219, 42);
  text-decoration:none;
  font-weight:600;
}

/* MENU ICON */
.menu-icon{
  display:none;
  font-size:28px;
  color:rgb(255, 217, 0);
  cursor:pointer;
}

/* ================= MAIN ================= */

/* MAI MUHIMMI SOSAI */
main{
  padding-top:80px; /* yana bada space na navbar */
}

.hero{
  min-height:90vh;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:60px 8%;
  gap:50px;
  color:white;
}

.hero-text{
  flex:1;
}

.hero-text h1{
  font-size:52px;
  margin-bottom:20px;
}

.hero-image {
  flex: 1;
  height: 400px;
  border-radius: 25px;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent; /* nan ne daidai */
  animation: floatHero 4s ease-in-out infinite;
}


@keyframes floatHero{
  50%{transform:translateY(-12px);}
}


/* PRODUCTS SECTION */

.products{
  padding:100px 8%;
}

/* GRID */
.product-grid{
  display:grid;
  gap:30px;
  margin-bottom:60px;
}

.top{
  grid-template-columns: repeat(3,1fr);
}

.bottom{
  grid-template-columns: repeat(4,1fr);
}

/* CARD STYLE */
.card{
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.05);
  border-radius:20px;
  padding:20px;
  text-align:center;
  color:white;

  transition:0.4s;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-12px) scale(1.03);
  box-shadow:0 25px 40px rgba(0,0,0,0.4);
}

/* IMAGE */
.card img{
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:15px;
  margin-bottom:15px;
}

/* FEATURED */
.featured-card{
  display:flex;
  align-items:center;
  gap:40px;

  border-radius:25px;
  background-color: transparent; /* ko white */
  padding:30px;
  margin-bottom:70px;
}

.featured-card img{
  width:50%;
  height:320px;
  object-fit:cover;
  border-radius:20px;
  background: transparent;
}

.featured-text{
  color:white;
}

.featured-text h2{
  font-size:36px;
  margin-bottom:15px;
}
section{
  margin-top:120px;
}

/* BEAUTY SECTION */

.beauty-section{
  padding:120px 8%;
  text-align:center;
}

.section-title{
  font-size:42px;
  color:white;
  margin-bottom:70px;
}

/* CONTAINER */
.beauty-container{
  display:flex;
  gap:40px;
  justify-content:center;
  margin-bottom:80px;
}

/* CARD */
.beauty-card{
  width:420px;

  backdrop-filter:blur(25px);
  background: transparent;
  border-radius:25px;
  overflow:hidden;

  transition:0.4s;
  cursor:pointer;
}

.beauty-card:hover{
  transform:translateY(-15px) scale(1.03);
  box-shadow:0 30px 60px rgba(0,0,0,0.5);
}

/* IMAGE */
.beauty-card img{
  width:100%;
  height:260px;
  object-fit:cover;
}

/* TEXT */
.beauty-text{
  padding:25px;
  color:white;
}

.beauty-text h3{
  font-size:26px;
  margin-bottom:10px;
}

/* VIDEO */
.video-box{
  width:80%;
  margin:auto;

  border-radius:30px;
  overflow:hidden;

  backdrop-filter:blur(20px);
  background:rgba(255,255,255,0.05);
  padding:20px;
}

.video-box video{
  width:100%;
  border-radius:20px;
}
