*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

body{
  min-height:100vh;
  background:linear-gradient(135deg,#255, 215, 0#ffffff);
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  position:relative;
}

/* LOGO */
.logo{
  display:flex;
  align-items:center;
  gap:12px;
  color:rgb(255, 215, 0);
}

/* IMAGE FROM images FOLDER */
.logo-img{
  width:55px;
  height:55px;
  border-radius:50%;
  background:url("../images/logo.png") center/cover no-repeat;
}

/* TEXT */
.logo span{
  font-size:14px;
  font-weight:600;
}

/* LINKS */
.nav-links{
  list-style:none;
  display:flex;
  align-items:center;
  gap:25px;
}

.nav-links a{
  color:rgb(255, 215, 0);
  text-decoration:none;
  font-weight:500;
}

/* edit  */
.navbar{
  position:fixed;
  top:0;
  width:100%;

}

.main-content{
  padding-top:140px;
}


/* SEARCH */
.search-box input{
  padding:7px 14px;
  border-radius:20px;
  border:none;
  outline:none;
}

/* MENU ICON */
.menu-icon{
  display:none;
  font-size:28px;
  color:rgb(255, 215, 0);
  cursor:pointer;
}

/* MOBILE */
@media(max-width:900px){
  .menu-icon{display:block;}

  .nav-links{
    position:absolute;
    top:100%;
    right:0;
    width:100%;
    background:#f12020;
    flex-direction:column;
    padding:20px;
    display:none;
  }

  .nav-links.active{
    display:flex;
  }
}





/*jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj*/
/* HERO SECTION */
.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
  padding:80px 8%;
  color:white;
}

/* TEXT SIDE */
.hero-text{
  flex:1;
}

.hero-text h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero-text p{
  font-size:18px;
  line-height:1.6;
  opacity:0.9;
  margin-bottom:30px;
}

.hero-btn{
  display:inline-block;
  padding:14px 30px;
  background:rgb(255, 215, 0);
  color:rgb(0, 0, 0);
  font-weight:600;
  text-decoration:none;
  border-radius:30px;
  transition:0.3s;
}

.hero-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 25px rgba(255, 217, 0, 0);
}

/* IMAGE SIDE */
.hero-image{
  flex:1;
  height:380px;
  border-radius:25px;
  background:url("../images/hero.jpg") center/cover no-repeat;
  box-shadow:0 25px 50px rgba(250, 250, 250, 0);
  animation:floatHero 4s ease-in-out infinite;
}

/* FLOAT ANIMATION */
@keyframes floatHero{
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(-10px);}
}

/* RESPONSIVE */
@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero-text h1{
    font-size:36px;
  }

  .hero-image{
    width:100%;
    height:300px;
  }
}

