<<<<<<< HEAD
=======
/* RESET */
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}

<<<<<<< HEAD
body{
  background:#000;
  color:#fff;
}

/* ================= NAVBAR ================= */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  background:rgba(0,0,0,.7);
  z-index:1000;
=======
/* BODY */
body{
  min-height:100vh;
  background:linear-gradient(135deg,#020024,#090979,#00d4ff);
  color:white;
}

/* NAVBAR */
.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:80px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 5%;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(15px);
  z-index:999;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
<<<<<<< HEAD
  color:#f5c518; /* YALO */
}

.logo-img{
  width:45px;
  height:45px;
  background:url("../images/logo.png") center/cover no-repeat;
}

.nav-links{
  display:flex;
  gap:20px;
  list-style:none;
}

.nav-links a{
  color:#f5c518; /* YALO */
  text-decoration:none;
  transition:.3s;
}

.nav-links a:hover{
  color:#c1121f; /* JA */
=======
  color:gold;
  font-weight:bold;
}

.logo-img{
  width:50px;
  height:50px;
  background:url("../images/logo.png") center/cover no-repeat;
}

/* LINKS */
.nav-links{
  display:flex;
  list-style:none;
  gap:25px;
}

.nav-links a{
  color:gold;
  text-decoration:none;
  font-weight:600;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.menu-icon{
  display:none;
<<<<<<< HEAD
  font-size:26px;
  cursor:pointer;
  color:#f5c518;
}

/* ================= HERO ================= */
.hero{
  height:100vh;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
=======
  font-size:28px;
  cursor:pointer;
}

/* MAIN */
main{
  padding-top:80px;
}

/* HERO */
.hero{
  position:relative;
  height:90vh;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.hero-video{
  position:absolute;
<<<<<<< HEAD
  width:100%;
  height:100%;
  object-fit:cover;
=======
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:1;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.hero::after{
  content:"";
  position:absolute;
  inset:0;
<<<<<<< HEAD
  background:rgba(0,0,0,.6);
=======
  background:rgba(0,0,0,0.4);
  z-index:2;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.hero-text{
  position:relative;
<<<<<<< HEAD
=======
  z-index:3;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
  text-align:center;
}

.hero-text h1{
<<<<<<< HEAD
  color:#f5c518;
}

.hero-text p{
  color:#fff;
}

/* ================= PRODUCTS ================= */
.products{
  padding:80px 6%;
  display:flex;
  flex-direction:column;
  gap:60px;
}

/* PRODUCT GRID */
.product-grid{
  display:grid;
  gap:25px;
}

.product-grid.top{
  grid-template-columns:repeat(3,1fr);
}

.product-grid.bottom{
  grid-template-columns:repeat(4,1fr);
}

/* CARD */
.card{
  background:#0b0b0b;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.7);
  transition:0.4s ease;
  border:2px solid #e7d804;
  border-radius:20px;
  animation: shadowMove 3s linear infinite;

=======
  font-size:48px;
}

.hero-text p{
  font-size:18px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero-text h1{font-size:32px;}
  .hero-text p{font-size:14px;}
}


/* PRODUCTS SECTION */
.products{
  padding:100px 5%;
}

.product-grid{
  display:grid;
  gap:30px;
  margin-bottom:60px;
}

.top{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.bottom{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card{
  backdrop-filter: blur(20px);
  background-image: url("images/product4.png");
  border-radius:20px;
  padding:20px;
  text-align:center;
  color:white;
  transition:0.4s;
  cursor:pointer;
}

.card:hover{
  transform:translateY(-12px) scale(1.03);
  box-shadow:0 25px 40px rgba(0,0,0,0.4);
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.card img{
  width:100%;
<<<<<<< HEAD
  height:200px;
  object-fit:cover;
}

.card h3{
  padding:15px 15px 5px;
  font-size:18px;
  color:#f5c518; /* YALO */
}

.card p{
  padding:0 15px 20px;
  font-size:14px;
  color:#e5e5e5;
}

.card:hover{
  transform:translateY(-12px);
=======
  height:180px;
  object-fit:cover;
  border-radius:15px;
  margin-bottom:15px;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

/* FEATURED CARD */
.featured-card{
<<<<<<< HEAD
  display:grid;
  grid-template-columns:1.2fr 1fr;
  gap:30px;
  background:#111;
  border:2px solid #4cf518;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 20px 40px rgba(0,0,0,0.8);
=======
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:30px;
  border-radius:25px;
  background-color: rgba(255,255,255,0.05);
  padding:20px;
  margin-bottom:70px;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.featured-card img{
  width:100%;
<<<<<<< HEAD
  height:100%;
  object-fit:cover;
}

.featured-text{
  padding:40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
=======
  max-width:500px;
  height:320px;
  object-fit:cover;
  border-radius:20px;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.featured-text h2{
  font-size:32px;
<<<<<<< HEAD
  color:#f5c518;
  margin-bottom:15px;
}

.featured-text p{
  font-size:16px;
  line-height:1.6;
  color:#fff;
}

/* RESPONSIVE */
@media(max-width:900px){
  .product-grid.top{
    grid-template-columns:repeat(2,1fr);
  }
  .product-grid.bottom{
    grid-template-columns:repeat(2,1fr);
  }
  .featured-card{
    grid-template-columns:1fr;
  }
}

@media(max-width:500px){
  .product-grid.top,
  .product-grid.bottom{
    grid-template-columns:1fr;
  }
  .featured-text h2{
    font-size:24px;
  }
}

/* ================= BEAUTY SECTION ================= */
=======
  margin-bottom:15px;
}

/* BEAUTY SECTION */
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
.beauty-section{
  padding:100px 5%;
  text-align:center;
}

.section-title{
  font-size:36px;
<<<<<<< HEAD
  color:#f5c518;
=======
  color:white;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
  margin-bottom:50px;
}

.beauty-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:30px;
  margin-bottom:50px;
}

.beauty-card{
  width:300px;
  backdrop-filter: blur(25px);
<<<<<<< HEAD
  background:rgba(0,0,0,0.6);
  border:1px solid #f5c518;
=======
  background: rgba(255,255,255,0.05);
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
  border-radius:25px;
  overflow:hidden;
  transition:0.4s;
  cursor:pointer;
}

.beauty-card:hover{
  transform:translateY(-15px) scale(1.03);
<<<<<<< HEAD
  box-shadow:0 30px 60px rgba(0,0,0,0.8);
=======
  box-shadow:0 30px 60px rgba(0,0,0,0.5);
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.beauty-card img{
  width:100%;
  height:260px;
  object-fit:cover;
}

.beauty-text{
  padding:20px;
<<<<<<< HEAD
  color:#fff;
}

/* ================= VIDEO ================= */
=======
}

>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
.video-box{
  width:100%;
  max-width:800px;
  margin:auto;
  border-radius:20px;
  overflow:hidden;
  backdrop-filter:blur(20px);
<<<<<<< HEAD
  background:rgba(0,0,0,0.6);
=======
  background:rgba(255,255,255,0.05);
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
  padding:15px;
}

.video-box video{
  width:100%;
  border-radius:15px;
}

<<<<<<< HEAD
/* ================= TOP DISHES ================= */
=======
/* ================= RESPONSIVE ================= */
@media(max-width:1024px){
  .hero-text h1{font-size:40px;}
  .hero-text p{font-size:16px;}
}

@media(max-width:768px){
  .navbar{
    padding:0 3%;
  }
  .nav-links{
    display:none;
    flex-direction:column;
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:80px;
    right:0;
    width:200px;
    padding:20px;
    border-radius:10px;
  }
  .menu-icon{
    display:block;
  }

  .hero{
    justify-content:center;
    text-align:center;
  }

  .hero-text h1{
    font-size:32px;
  }

  .hero-text p{
    font-size:14px;
  }

  .hero video{
    display:none;
  }
  .hero .hero-image{
    display:block;
  }
}

@media(max-width:480px){
  .section-title{
    font-size:28px;
  }
  .beauty-card{
    width:90%;
  }
}

>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
.top-dishes{
  padding:60px 20px;
  max-width:1200px;
  margin:auto;
}

.top-dishes h2{
  text-align:center;
  margin-bottom:40px;
  font-size:2.2rem;
<<<<<<< HEAD
  color:#f5c518;
=======
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.dish-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.dish-card{
  background:#fff;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,.12);
  transition:.4s;
  text-align:center;
}

.dish-card:hover{
  transform:translateY(-10px);
}

<<<<<<< HEAD
.dish-card h3{
  color:#000;
=======
.dish-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.dish-card h3{
  margin:15px 0 5px;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.price del{
  color:#888;
<<<<<<< HEAD
}

.price span{
  color:#c1121f; /* JA */
  font-weight:bold;
  border:2px solid #03030360;
  border-radius:20px;
  overflow:hidden;
=======
  margin-right:5px;
}

.price span{
  color:#c1121f;
  font-weight:bold;
  font-size:1.1rem;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

.dish-card button{
  margin:15px 0 20px;
  padding:12px 30px;
  border:none;
  border-radius:25px;
  background:#c1121f;
  color:#fff;
  cursor:pointer;
<<<<<<< HEAD
  transition:.3s;
}

.dish-card button:hover{
  background:#f5c518;
  color:#000;
}

/* ================= CHECKOUT ================= */
.checkout{
  background:#050101;
  color:#f5c518;
=======
}

/* CHECKOUT */
.checkout{
  background:#1b1b1b;
  color:#fff;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
  padding:60px 20px;
  margin-top:60px;
}

.checkout h2{
  text-align:center;
  margin-bottom:25px;
}

<<<<<<< HEAD
=======
#cartItems{
  max-width:600px;
  margin:20px auto;
}

>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
.cart-item{
  display:flex;
  justify-content:space-between;
  padding:10px 0;
<<<<<<< HEAD
  border-bottom:1px solid #c1121f;
=======
  border-bottom:1px solid #444;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}

#total{
  text-align:center;
  margin-top:20px;
  font-size:1.4rem;
}

.payment{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:25px;
}

.payment button{
  padding:15px 30px;
  border:none;
  border-radius:12px;
  font-size:1rem;
  cursor:pointer;
<<<<<<< HEAD
  background:#f5c518;
  color:#000;
}

.payment button:hover{
  background:#c1121f;
  color:#fff;
}

/* ================= TOP DISHES SECTION ================= */
.top-dishes{
  padding:90px 20px;
  background:#0a0a0a;
}

.top-dishes h2{
  text-align:center;
  font-size:2.6rem;
  color:#f5c518;
  margin-bottom:60px;
  letter-spacing:2px;
  text-transform:uppercase;
}

/* GRID */
.dish-grid{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:35px;
}

/* CARD */
.dish-card{
  background:#111;
  border-radius:22px;
  overflow:hidden;
  box-shadow:0 15px 40px rgba(0,0,0,.7);
  transition:.4s ease;
  position:relative;
}

.dish-card::before{
  content:"HOT";
  position:absolute;
  top:15px;
  left:15px;
  background:#c1121f;
  color:#fff;
  padding:6px 14px;
  font-size:12px;
  border-radius:20px;
  letter-spacing:1px;
}

/* IMAGE */
.dish-card img{
  width:100%;
  height:220px;
  object-fit:cover;
  transition:.4s;
}

.dish-card:hover img{
  transform:scale(1.08);
}

/* CONTENT */
.dish-card h3{
  margin:18px 0 6px;
  font-size:1.3rem;
  color:#f5c518;
}

.dish-card{
  text-align:center;
}

.price{
  margin:10px 0 18px;
  font-size:1rem;
}

.price del{
  color:#888;
  margin-right:6px;
}

.price span{
  color:#fff;
  font-size:1.25rem;
  font-weight:bold;
}

/* BUTTON */
.dish-card button{
  margin-bottom:25px;
  padding:14px 36px;
  border:none;
  border-radius:30px;
  background:#ff0011;
  color:#fff;
  font-size:1rem;
  font-weight:600;
  cursor:pointer;
  transition:.3s;
  box-shadow:0 8px 20px rgba(218, 213, 214, 0.959);
}

.dish-card button:hover{
  background:#f5c518;
  color:#000;
  transform:translateY(-4px);
  box-shadow:0 12px 30px rgba(245,197,24,.7);
}

/* HOVER CARD */
.dish-card:hover{
  transform:translateY(-14px);
}

/* ================= RESPONSIVE ================= */
@media(max-width:768px){
  .top-dishes h2{
    font-size:2.1rem;
  }

  .dish-card img{
    height:200px;
  }
}

@media(max-width:480px){
  .dish-card::before{
    font-size:10px;
    padding:5px 12px;
  }

  .dish-card h3{
    font-size:1.15rem;
  }
}

@keyframes shadowMove {
  0%   { box-shadow: 10px 0 25px rgba(57, 231, 4, 0.404); }
  25%  { box-shadow: 0 10px 25px rgba(4, 231, 231, 0.8); }
  50%  { box-shadow: -10px 0 25px rgba(231,216,4,0.8); }
  75%  { box-shadow: 0 -10px 25px rgba(4, 19, 231, 0.8); }
  100% { box-shadow: 10px 0 25px rgba(231, 4, 4, 0.8); }
=======
}

.card{
  background:#0056d2;
  color:#fff;
}

.transfer{
  background:#2a9d8f;
  color:#fff;
>>>>>>> d4dfe877327a96140333296cfa92f465af70a534
}