/* GLASS UI */
.glass{
  background:rgba(255,255,255,0.12);
  backdrop-filter:blur(15px);
  -webkit-backdrop-filter:blur(15px);
  border:1px solid rgba(255,255,255,0.3);
  border-radius:20px;
  box-shadow:0 8px 32px rgba(0,0,0,0.4);
}

/* WATER BACKGROUND IMAGE */
.water{
  background-image:url("../images/water-bg.png");
  background-size:cover;
  background-position:center;
}
